<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://depositextract20230226201958.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ae904a88-fb3f-42b0-83dd-99b6b2647abc/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/depositextract20230226201958</ResourceId>
    <UserName>$depositextract20230226201958</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://depositextract20230226201958.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>